<div class="echoes-of-history-sidebar">
    <header class="sidebar-header flexrow">
        <button data-action="addImage"><i class="fas fa-image"></i> {{localize "Add Image"}}</button>
        <button data-action="addFolder"><i class="fas fa-folder-plus"></i></button>
    </header>

    <ul class="image-list directory-list">
        {{#each tree}}
            {{> directoryItem this}}
        {{/each}}
    </ul>
</div>